body {
  background-color: #fff;
  color: #434455;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 2px;
}
ul,
a {
  text-decoration: none;
  list-style-type: none;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.logo-span {
  color: #4d5ae5;
}

.page-nav .link {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}

.contact .link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
}

.contact .link:hover,
.contact .link:focus,
.page-nav .link:hover,
.page-nav .link:focus,
.logo:hover,
.logo:focus,
.main-page-button:hover,
.main-page-button:focus {
  color: #4d5ae5;
}

.main-page {
  background-color: #2e2f42;
}
.main-page-text {
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  line-height: 1.07143;
  text-align: center;
}
.main-page-button {
  background-color: #4d5ae5;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  font-size: 16px;
}
.main-page-button:hover,
.main-page-button:focus {
}

.features-items-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
}

.features-describe {
  color: #434455;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11111;
  text-align: center;
}
.team-items-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  text-align: center;
}
.team-items-title-describe {
  color: #434455;
  text-align: center;
}
.portfolio-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
}
.portfolio-items-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.portfolio-items-describe {
  color: #434455;
}

.footer-description {
  color: #f4f4fd;
}
.page-footer {
  background-color: #2e2f42;
}

.logo-white {
  color: #f4f4fd;
}
